p Hello,

p Contract with fileNumber: #{fileNumber} is due for expiry on #{validityDate}.

p please #{type} you contract and consider following details for reference.

p CANumber And Name Of Work : #{caNumberAndNameOfWork}
p BGNumber					: #{bgNumber}
